* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */

:root {
  --color-main: #101;
  --color-clear: whitesmoke;
  --color-secondary: dodgerblue;
}

body {
  font-family: Arial;
  font-size: 14px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--color-secondary);
}

#nav-main {
  background-color: var(--color-main);
  color: var(--color-clear);
}
