body > * {
  padding-left: 20px;
  padding-right: 20px;
}

#header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: var(--color-dark);
  height: var(--header-main-height);
}

#content-main {
  position: relative;
  top: var(--header-main-height);
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: calc(100vh - (var(--header-main-height) + var(--footer-main-height)));
}

#nav-main {
  position: relative;
  color: var(--color-light);
}

#footer-main {
  height: var(--footer-main-height);
  background: var(--color-dark);
  position: relative;
  top: var(--header-main-height);
}
