<h1 class="title">list albums</h1>

<ul class="list albums">
    {{#each albums}}
    <li class='album'>
        <h2 class="title">{{this.title}} ( {{this.artist.name}})</h2>
        <a href="/albums/page/{{this._id}}">see more..</a>
    </li>
    {{/each}}
</ul>