<h1 class="title">Admin panel</h1>
<hr>
<h2 class="title">Workshop v1</h2>
<hr>
<ol>
    <li>D.I.Y: CRUD labels (check the provided model first, use the default logo for the moment)</li>
    <li>D.I.Y: For labels management (edition + removal), use the provided <a class="link" href="/labels/admin">user interface</a> to get started</li>
    <li>D.I.Y: CRUD styles (check the provided model first)</li>
    <li>D.I.Y: code the table for syles management (use the one provided for labels)</li>
    <li>Lesson: let's add an image upload feature for the labels</li>
</ol>
<hr>
<h2 class="title">Workshop v2</h2>
<hr>
<p>
    You'll be randomly assigned in 2 teams.<br>
    Design a driver and help each others.<br>
    You have 45 minutes to code the following missions.<br>
    Follow the same pattern we used yesterday :<br>
    - a form for creation<br>
    - a table for resource management (read + delete + link to edit)
</p>
<h3 class="title">Team A</h3>
<ol>
    <li>Add the Crud feature for <b>Artists</b></li>
    <li>Use the provided model :</li>
    <li>Keep it simple for the moment : ommit the <b>style</b> property (commented in the model)
    <li>Don't forget the picture upload !</li>
</ol>
<h3 class="title">Team B</h3>
<ol>
    <li>Add the Crud feature for <b>Albums</b></li>
    <li>Use the provided model :</li>
    <li>Keep it simple for the moment: ommit the <b>artist</b> and <b>label</b> properties (commented in the model)
    <li>Don't forget the cover upload !</li>
</ol>
{{!-- <h2 class="title">Bonus D.I.Y Todos</h2>
<ul>
    <li>display the 3 last inserted artists</li>
    <li>display the 3 last inserted albums</li>
    <li>use charts.js to create a chart representing the distribution by style of artists/albums</li>
    <li>implement a rating system</li>
</ul> --}}