<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    {{!-- layout.hbs is the index.html (entry point) for HBS --}}
    <h1>hello hbs layout !!!</h1>
    {{!--  --}}
    {{!-- below HBS will automatically include the current view inside this body placeholder --}}
    {{> navMain }}
    {{{ body }}}
    {{!-- mind the 3 curly brackets, they are mandatory --}}
</body>

</html>