<h1 class="title">contact</h1>
<form class="form">
    <label for="name" class="label">name *</label>
    <input for="name" type="text" class="input" required>
    <label for="email" class="label">email *</label>
    <input for="email" type="text" class="input" required>
    <label for="message" class="label">message *</label>
    <textarea name="" id="message" cols="30" rows="10" class="input" required></textarea>
</form>