<form method="post" action="/styles/create" class="form">
    <h1 class="title">Create new style</h1>
    <label for="name" class="label" class="label"></label>
    <input id="name" type="text" name="name" class="input" value="fake style">
    <label for="color" class="label" class="label"></label>
    <input id="color" type="color" name="color" class="input" style="max-width: 32px; max-height: 32px; padding: 0" value="#BADA55">
    <label for="wikiURL" class="label" class="label"></label>
    <input id="wikiURL" type="text" name="wikiURL" class="input" value="https://fr.wikipedia.org/wiki/Music">
    <button class="btn">ok</button>
</form>